:root {
    --main-clr: rgb(186, 73, 73);
    --text-clr: rgba(231, 231, 231, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-clr);
    transition: background-color .4s ease-in-out;
    font-family: sans-serif;
}

h1, h2, h3,
h4, h5, h6,
p, a, button {
    color: var(--text-clr);
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 30px;
}
.header__link {
    font-size: 26px;
    font-weight: bold;
}
.header__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__list > li{
    margin-right: 20px;
}

.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn {
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 25px;
}
.btn[active="true"] {
    font-weight: bold;
    border: 2px solid rgba(22, 22, 22, 0.4);
    border-radius: 1rem;
}