:root {
    --main-clr: rgb(186, 73, 73);
    --light-main-clr: rgb(205, 100, 100);
    --text-clr: rgba(231, 231, 231, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-clr);
    transition: background-color .4s ease-in-out;
    font-family: sans-serif;
}

h1, h2, h3,
h4, h5, h6,
p, a, button {
    color: var(--text-clr);
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 30px;
}
.header__link {
    font-size: 26px;
    font-weight: bold;
}
.header__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__list > li{
    margin-right: 20px;
}


.buttons-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn {
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 25px;
}
.btn[active="true"] {
    font-weight: bold;
    border: 2px solid rgba(22, 22, 22, 0.4);
    border-radius: 1rem;
}
.btn:disabled {
    cursor: not-allowed;
    opacity: .4;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.timer__count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.timer__count > p {
    font-size: 100px;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.popup-show {
    display: block;
}

.popup__window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 35px;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--light-main-clr);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.popup__header {
    display: flex;
}
.popup__header > .btn {
    height: fit-content;
    position: absolute;
    top: -2px;
    right: -15px;
}

.popup__heading {
    margin-bottom: 25px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__form > label > input {
    display: block;
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 7px;
}

.popup__form > label > input:focus-visible {
    outline: none;
    border: 1.5px solid rgb(0, 0, 0);
}

.popup__form > label:last-child > input {
    margin-bottom: 0px;
}